@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

body {
  background-color: #3C474B;
/*   max-width: 99%; */
}

h1{
  color: yellow;
  font-family: 'Work Sans', sans-serif;
  font-size: 5vh;
}

.footer {
  margin-top: 15vh;
  font-family: 'Work Sans', sans-serif;

  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
